/* NAVIGATION MENU */
:root {
    --light-menu: #ffffff;
    --mid-menu: antiquewhite;
    --dark-menu: #800000;
}

/* Main navbar */
.navbar {
    background-color: var(--accent-color);
}

.navbar a {
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: var(--light-menu);
}

.navbar a:hover,
.navbar a:focus,
.navbar a.current {
    background-color: var(--mid-menu);
    color: var(--dark-menu);
}

/* Menu layout */
.menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu > li {
    flex-basis: 20%;
    text-align: center;
    position: relative; /* for submenu */
}

/* Submenu styling */
.has-submenu > .submenu {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--accent-color);
    list-style: none;
    margin: 0;
    padding: 0;
}

.has-submenu:hover > .submenu {
    display: block;
}

.submenu li a {
    display: block;
    padding: 0.5em 1em;
    text-align: center;
    color: var(--light-menu);
    text-decoration: none;
}

.submenu li a:hover {
    background-color: var(--mid-menu);
    color: var(--dark-menu);
}

/* Small triangle next to menu items */
.has-submenu a small {
    margin-left: 0.25em;
}

/* Bullet list circles */
ul.circle {
    list-style-type: circle;
}
